<div class="container" id='home'>
  
  <!-- Dataset Description -->
  <div class="row justify-content-center" id="database-description-div">
    <div class="col-sm-8">
      <br><br>
      <h5>Dataset Description</h5>
      <p>The dataset used for this application is called <b><i>The Berka Dataset</i></b>.
      This dataset, which was created by Petr Berka and Marta Sochorova, is a collection
      of information from a Czech bank in 1999.</p>
    </div>
    <div class="col-sm-4">
      <img src="../img/dataset-img.png" width="350px">
    </div>
  </div>

  <hr>
  <br><br>
  <img src="../img/query1-img.png" height="200px" class="mx-auto d-block">
  <br>

  <div class="row" id="facts-div">
    <div class="col">
      <div class="query-name">ETL Facts</div>
      <p>The fact table contains the amount rendered in a transaction, and the count of transactions made for that particular record. Amount was selected because it is the primary data involved in a bank transaction. Access to aggregate, business-oriented data on amount and cash flow allows a bank to gauge its performance and profitability. Count, on the other hand, is useful for determining popularity or relevance of a bank, and together with demographic dimensions, can be used to obtain data to inform marketing schemes.
      </p>
      <button id="facts-button">Execute ETL</button>
    </div>
  </div>

  <hr>
  <br><br>
  <div class="row" id="account-div">
    <div class="col">
      <div class="query-name">ETL Account</div>
      <p>Account dimension contains data on customers including gender, residence and other basic demographics. This allows the bank to determine who their customers are and where they come from, which can inform decisions on where to build future locations or who to target for marketing.
      </p>
        <button id="account-button">Execute ETL</button>
    </div>
  </div>

  <hr>
  <br><br>
  <div class="row" id="time-div">
    <div class="col">
      <div class="query-name">ETL Time</div>
      <p>Time dimension represents temporal data about a transaction, separated into hierarchies of year, quarter, month and day. Time can be used to identify the performance of the bank over a certain period to see when the bank is most and least profitable.
      </p>
      <button id="time-button">Execute ETL</button>
    </div>
  </div>

  <hr>
  <br><br>
  <div class="row" id="recipient-div">
    <div class="col">
      <div class="query-name">ETL Recipient</div>
      <p>Recipient dimension contains information on what other banks transactions are made to. This allows the bank to determine which other banks its customers also use or interact with, and can inform partnership decisions.
      </p>
      <button id="recipient-button">Execute ETL</button>
    </div>
  </div>

  <hr>
  <br><br>
  <div class="row" id="type-div">
    <div class="col">
      <div class="query-name">ETL Type</div>
      <p>Type dimension contains information on the type of transaction made, whether a payment for a loan or a withdraw for pension among others. This allows the bank to know what services the customers use the bank for, so that they can use the appropriate amount of resources to maintain those services.
      </p>
      <button id="type-button">Execute ETL</button>
    </div>
  </div>

  <br><br><br>
  <br><br><br>
</div>