<div class="container" id='home'>
  
  <!-- Dataset Description -->
  <div class="row justify-content-center" id="database-description-div">
    <div class="col-sm-8">
      <br><br>
      <h5>Dataset Description</h5>
      <p>The dataset used for this application is called <b><i>The Berka Dataset</i></b>.
      This dataset, which was created by Petr Berka and Marta Sochorova, is a collection
      of information from a Czech bank in 1999.</p>
    </div>
    <div class="col-sm-4">
      <img src="../img/dataset-img.png" width="350px">
    </div>
  </div>

  <hr>
  <br><br>
  <img src="../img/query1-img.png" height="200px" class="mx-auto d-block">
  <br>

  <div class="row" id="facts-div">
    <div class="col">
      <div class="query-name">ETL Facts</div>
      <p>Desc here
      </p>
      <button id="facts-button">Execute ETL</button>
    </div>
  </div>

  <hr>
  <br><br>
  <div class="row" id="account-div">
    <div class="col">
      <div class="query-name">ETL Account</div>
      <p>Desc here
      </p>
        <button id="account-button">Execute ETL</button>
    </div>
  </div>

  <hr>
  <br><br>
  <div class="row" id="time-div">
    <div class="col">
      <div class="query-name">ETL Time</div>
      <p>Desc here
      </p>
      <button id="time-button">Execute ETL</button>
    </div>
  </div>

  <hr>
  <br><br>
  <div class="row" id="recipient-div">
    <div class="col">
      <div class="query-name">ETL Recipient</div>
      <p>Desc here
      </p>
      <button id="recipient-button">Execute ETL</button>
    </div>
  </div>

  <hr>
  <br><br>
  <div class="row" id="type-div">
    <div class="col">
      <div class="query-name">ETL Type</div>
      <p>Desc here
      </p>
      <button id="type-button">Execute ETL</button>
    </div>
  </div>

  <br><br><br>
  <br><br><br>
</div>